@{
    ViewData["Title"] = "Home Page";
}

    <div id="announcement" class="p-3">
        <div class="card shadow m-2">
            <div class="card-body">
                <h5 class="card-title">Announcement 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card shadow m-2">
            <div class="card-body">
                <h5 class="card-title">This is announcement #2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div id="eventcards" class="d-flex justify-content-around flex-wrap">
        <div class="card shadow-sm" style="width: 25rem;">
            <img class="card-img-top" src="~/image/default.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Event 1</h5>
                <p class="card-text"><strong>Dates:</strong> March 14th – 15th</p>
                <p class="card-text"><strong>Description:</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex align-items-stretch">
                    <a href="#" class="btn btn-primary w-50 m-1">Register For Classes</a><a href="#" class="btn btn-success w-50 m-1">View Volunteer Opportunities</a>
                </div>
            </div>
        </div>
        <div class="card shadow-sm" style="width: 25rem;">
            <img class="card-img-top" src="~/image/default.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Event 1</h5>
                <p class="card-text"><strong>Dates:</strong> March 14th – 15th</p>
                <p class="card-text"><strong>Description:</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex align-items-stretch">
                    <a href="#" class="btn btn-primary w-50 m-1">Register For Classes</a><a href="#" class="btn btn-success w-50 m-1">View Volunteer Opportunities</a>
                </div>
            </div>
        </div>
        <div class="card shadow-sm" style="width: 25rem;">
            <img class="card-img-top" src="~/image/default.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Event 1</h5>
                <p class="card-text"><strong>Dates:</strong> March 14th – 15th</p>
                <p class="card-text"><strong>Description:</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex align-items-stretch">
                    <a href="#" class="btn btn-primary w-50 m-1">Register For Classes</a><a href="#" class="btn btn-success w-50 m-1">View Volunteer Opportunities</a>
                </div>
            </div>
        </div>
    </div>