<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Summer_Camp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- The sidebar -->
    <div id="mySidenav" class="sidenav">
        <a asp-controller="Home" asp-action="Index" id="home">Home <img src="~/image/homeicon.svg" class="icon" alt="Home" /></a>
        <a asp-controller="Home" asp-action="Index" id="login">Sign In/Up <img src="~/image/profileicon.svg" class="icon" alt="Sign In or Sign Up" /></a>
        <a asp-controller="Home" asp-action="Index" id="profile">Profile <img src="~/image/profileicon.svg" class="icon" alt="Profile" /></a>
        <a asp-controller="Home" asp-action="Index" id="teacher">Teacher <img src="~/image/teachericon.svg" class="icon" alt="Teacher" /></a>
        <a asp-controller="Home" asp-action="Index" id="student">Student <img src="~/image/studenticon.svg" class="icon" alt="Student" /></a>
        <a asp-controller="Home" asp-action="Index" id="volunteer">Volunteer <img src="~/image/volunteericon.svg" class="icon" alt="Volunteer" /></a>
        <a asp-controller="Home" asp-action="Index" id="help">Help <img src="~/image/helpicon.svg" class="icon" alt="Help" /></a>
        <a asp-controller="Home" asp-action="Index" id="admin">Admin <img src="~/image/adminicon.svg" class="icon" alt="Administration" /></a>
        <div class="siddedbar box-shadow"></div>
    </div>

    <div id="curretUser" class="d-flex alert-warning shadow-sm" role="alert">
        <strong class="currentuserstrong">You are acting on behalf of:</strong>
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bob Hadababyitsaboy</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Bob Hadababyitsaboy</a>
                <a class="dropdown-item" href="#">Sara Hadababyitsaboy</a>
                <a class="dropdown-item" href="#">Johnathan Hadababyitsaboy</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Add Family Member</a>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SummerCamp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
